<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10000" executionTimeout="10800"/>
  </system.web>
  
  <system.net>
    <mailSettings>
      <smtp from="Admin@domain.com">
        <network host="smtp.sendgrid.net" password="YkrJBg0X5ePy9mu" userName="azure_5d3fe7bc8e8fec10790f72c6760bc104@azure.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

  <connectionStrings>
    <add name="PingoliConStr" connectionString="Server=VAIO;Database=DB_Pingoli;Integrated Security=true" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
